@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel&display=swap");
.Container {
    width: 100vw;
    height: 100%;
}


.Font {
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
}