@media screen and (min-width: 768px) {
    .background {
        background: url(https://finespecdetailing.b-cdn.net/soap.png);
        background-position: center;
        background-size: cover;
        margin-top: 40px;
    }
    /* .firstContainer {
        background-image: url(/porche.png);
        background-position: bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
    .secondContainer {
        background-image: url(/porche2.png);
        background-position: bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    } */
    .Grid {
        align-items: center;
        height: 80vh;
    }
}

@media screen and (max-width: 768px) {
    .background::after {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        background: url(https://finespecdetailing.b-cdn.net/soap.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .firstContainer {
        background: none;
    }
    .secondContainer {
        background: none;
    }
}